@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import backbutton
  @import Header
.ig
  .impExpGraph
    .axis
      .domain
        fill black
      .tick line
        stroke black
