@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  .impExpGraph
    background yellow
    .axis
      .domain
        fill black
      .tick line
        stroke black
